<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
  </head>
  <body>
    <% console.log(skills) %>
    <h1>Skillz to pay the Billz</h1>
    <% skills.forEach(skill => { %>
      <a href='/skills/<%= skill.id %>'><%= skill.name %> level <%= skill.value %></a><br>
    <% }) %>
  </body>
</html>