<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home Page</h1>
    <a href='/skills'>See my skills</a>
    <a href='/skills/add'>Add a new skill</a>
  </body>
</html>
